name: Tests

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.20
        id: go

      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Run unit tests and generate the coverage report
        run: make test-coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.out
          verbose: false
          flags: unittests
